/*-----Police de la page-----*/

@font-face {
	font-family: 'opFont';
	src: url('fonts/opFont.ttf');
	font-weight: normal;
	font-style: normal;
}

/*-----Eléments principaux de la page-----*/

*
{
	box-sizing: border-box;
}

body
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	margin: 0;
}

.bgPage1
{
	background-image: url(images/fuchsia.png);
	background-size: cover;
}

#blocPage
{
	width: 80%;
	margin: auto;
	background-color: rgba(76, 76, 76, 0.8);
}

/*-----Header-----*/

header
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*-----Menu de navigation-----*/

header nav
{
	background-color: rgba(60, 60, 60, 0.5);
	border: 3px dodgerblue double;
	border-radius: 8px;
	box-shadow: 6px 6px 6px black;
	padding: 5px 15px;
}

header nav a
{
	font-family: 'opFont';
	font-weight: bold;
	font-size: 2.2em;
	text-decoration: none;
	color: dodgerblue;
}

header nav a:hover
{
	text-decoration: underline;
	color: royalblue;
}

header nav ul
{
	list-style-image: url('images/menu.png');
	display: inline-block;
	margin: auto;
}

header nav ul li 
{
	list-style-type: none;
}

/*-----Bannière-----*/

#banniereIndex
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 210px;
}

.shanks, .luffyShanks, .luffy
{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

/*-----Titres-----*/

h1
{
	font-family: 'opFont';
	font-weight: bold;
	font-size: 5em;
	text-shadow: 6px 6px 6px black;
	text-align: center;
	background-color: rgba(60, 60, 60, 0.5);
	border: 3px darkslategrey solid;
	border-radius: 50% 50% / 50% 50%;
}

/*-----Corps-----*/

section
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
	line-height: 1.5;
}

.articleJustify
{
	text-align: justify;
	width: 60%;
}

.aPropos
{
	text-align: center;
}

section p a
{
	font-weight: bold;
	text-decoration: none;
	color: dodgerblue;
}

.quote
{
	font-style: italic;
}

.roger, .luffyShanks2
{
	float: left;
	border-radius: 6px;
	box-shadow: 6px 6px 6px black;
	margin-right: 15px;
	transition: transform .1s;
}

.luffyEnfant, .departLuffy
{
	float: right;
	border-radius: 6px;
	box-shadow: 6px 6px 6px black;
	margin-left: 15px;
	transition: transform .1s;
}

.eiichiroOda
{
	display: block;
	margin: auto;
	border-radius: 6px;
	box-shadow: 6px 6px 6px black;
	transition: transform .1s;
}

/*-----Zoom de l'image-----*/

.roger:hover, .luffyEnfant:hover, .luffyShanks2:hover, .departLuffy:hover, .eiichiroOda:hover
{
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/*-----Footer-----*/

footer
{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: center;
	padding-bottom: 15px;
}

footer nav
{
	background-color: rgba(60, 60, 60, 0.5);
	border: 3px dodgerblue double;
	border-radius: 8px;
	box-shadow: 6px 6px 6px black;
	padding: 5px 15px;
	list-style-image: url('images/menu.png');
	display: flex;
}

footer nav a
{
	font-family: 'opFont';
	font-weight: bold;
	font-size: 2.2em;
	text-decoration: none;
	color: dodgerblue;
	margin-left: -8px;
	margin-right: 60px;
}

footer nav a:hover
{
	text-decoration: underline;
	color: royalblue;
}

footer nav ul li 
{
	list-style-type: none;
	text-align: center;
	justify-content: space-around;
}

.botbar
{
	order: 3;
	margin: 15px;
}

.slogan
{
	font-size: 1.4em;
	font-weight: bold;
	order: 1;
	text-align: right;
	width: 100%;
	margin-bottom: -15px;
}

.traduction
{
	font-size: 1.2em;
	font-style: italic;
	order: 2;
	text-align: right;
	width: 100%;
	margin-top: -15px;
}

/*----------Page 2 : Equipage de Luffy----------*/
/*-----Body-----*/

.bgPage2
{
	background-image: url(images/itmMugiwara.jpg);
	background-size: cover;
}

/*-----Titres-----*/

.titrePage
{
	width: 65%;
}

h2
{
	font-family: 'opFont';
	font-size: 4.8em;
	font-weight: bold;
	text-shadow: 6px 6px 6px black;
}

h3
{
	font-family: 'opFont';
	font-size: 3.5em;
	font-weight: bold;
	text-shadow: 6px 6px 6px black;
	text-align: center;
}

/*-----Ancres-----*/

section ul
{
	width: 100%;
	text-align: center;
}

section ul a
{
	font-weight: bold;
	font-size: 1.6em;
	text-decoration: none;
	color: dodgerblue;
	border-left: 3px black solid;
	display: inline-block;
	padding: 0 12px;
}

.navire
{
	border-right: 3px black solid;
}

section a:hover
{
	text-decoration: underline;
	color: royalblue;
}

footer a
{
	font-weight: bold;
	font-size: 1.6em;
	text-decoration: none;
	color: dodgerblue;
}

/*-----Corps-----*/

table
{
	background-color: rgba(60, 60, 60, 0.6);
	border: 2px black solid;
	border-radius: 8px;
	box-shadow: 6px 6px 6px black;
	margin: 5 25px;
	width: 100%;
}

table th 
{
	text-align: center;
	vertical-align: text-top;
	font-weight: bold;
	font-size: 1.2em;
	padding-top: 5px;
}

table td
{
	text-align: justify;
	vertical-align: text-top;
	font-size: 1em;
	padding: 0 10px 0 4px;
}

.berry
{
	vertical-align: middle;
}

.nom
{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.presentation
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: justify;
}

#navires
{
	width: 75%;
}

.merry .sunny
{
	margin: 5px;
}

/*----------Page 3 : Les Factions dans One Piece----------*/
/*-----Eléments principaux de la page-----*/

.bgPage3
{
	background-image: url(images/grandLine.png);
	background-size: cover;
}

/*-----Bannière-----*/

#banniereFaction
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 210px;
}

.pirates, .gouvernement, .revolutionnaire
{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

/*----------Page 4 : Les Fruits du Démon----------*/
/*-----Eléments principaux de la page-----*/

.bgPage4
{
	background-image: url(images/fdd.jpg);
	background-size: cover;
}

/*-----Corps-----*/

.origineImg
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 67%;
}

figcaption
{
	font-size: smaller;
	font-style: italic;
	margin-top: -15px;
	text-align: center;
}

.smokerLuffy, .luffyHaki, .fddGuepe, .fddLeopard, .fddBoudha, .fddEveil, .fddAllosaure, .fddBasset
{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

/*-----Zoom de l'image-----*/

.smokerLuffy:hover, .luffyHaki:hover, .fddGuepe:hover, .fddLeopard:hover, .fddBoudha:hover, .fddEveil:hover, .fddAllosaure:hover, .fddBasset:hover
{
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/*-----Infos Bulles-----*/

.tooltip 
{
    position: relative;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
}

.tooltip .tooltiptext 
{
    visibility: hidden;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 104%;
}

.tooltip:hover .tooltiptext 
{
    visibility: visible;
}

/*----------Page 5 : One Piece au Japon----------*/
/*-----Eléments principaux de la page-----*/

.bgPage5
{
	background-image: url(images/sunnySea.jpg);
	background-size: cover;
}

/*----------Page 6 : Quiz----------*/
/*-----Eléments principaux de la page-----*/

.bgPage6
{
	background-image: url(images/opQuiz.jpg);
	background-size: cover;
}

/*-----Corps-----*/

.pQuiz
{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}